project: cs336-assignment1-basic
name: owt-stage3-reg
program: cs336_basics/train.py

method: bayes
metric:
  name: valid/loss
  goal: minimize
parameters:
  # Update these from Stage 2 results
  model.d_model:
    value: 768
  model.num_layers:
    value: 8
  # Update from Stage 1/2
  train.lr_max:
    value: 6e-4

  optimizer.weight_decay:
    values: [0.01, 0.05, 0.1, 0.2]
  train.grad_clip:
    values: [0.5, 1.0, 2.0]

early_terminate:
  type: hyperband
  min_iter: 1000
  eta: 2

command:
  - ${env}
  - ${interpreter}
  - "-m"
  - "torch.distributed.run"
  - "--nproc_per_node=4"
  - ${program}
  - "--config"
  - "cs336_basics/configs/owt.json"
