project: cs336-assignment1-basic
name: owt-stage1-lr
program: cs336_basics/train_dist.py

method: bayes
metric:
  name: valid/loss
  goal: minimize
parameters:
  train.lr_max:
    distribution: log_uniform_values
    min: 1e-4
    max: 1e-2

early_terminate:
  type: hyperband
  min_iter: 500
  eta: 2

command:
  - ${env}
  - ${interpreter}
  - "-m"
  - "torch.distributed.run"
  - "--nproc_per_node=4"
  - ${program}
  - "--config"
  - "cs336_basics/configs/owt.json"
