project: cs336-assignment1-basic
name: owt-stage2-arch
program: cs336_basics/train.py

method: grid
metric:
  name: valid/loss
  goal: minimize
parameters:
  # Run this after Stage 1 and update this value
  train.lr_max:
    value: 6e-4 
    
  model.d_model:
    values: [512, 768, 1024]
  model.num_layers:
    values: [12, 18, 24]
    
  train.batch_size:
    value: 64
  train.accum_steps:
    value: 8

early_terminate:
  type: hyperband
  min_iter: 750
  eta: 2

command:
  - ${env}
  - ${interpreter}
  - ${program}
  - "--config"
  - "cs336_basics/configs/owt.json"
